@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,800&display=swap');

html, body { 
  overflow-x: hidden 
}

body {
  background: $white;
  color: $black;
  font-family: $body, Arial, Helvetica, sans-serif;
  height: auto;
  max-width: 1800px;
  margin: 20px 40px;
  transition: .6s;
}

.darkmode-toggle {
  cursor: pointer;
  font-size: 30px;
  opacity: 70%;
  transition: .7s;

  p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
  }
}

.darkmode-toggle:hover {
  opacity: 100%;
  transition: .7s;
}

body.dark-theme {
background: $black;
color: $white;

  .hereComesTheSun {
  transition: 0.12s;
  visibility: hidden;
  }

  .darkSideOfTheMoon {
  background: rgb(252, 250, 240);
  border-radius: 100%;
  box-shadow: 0 0 20px 1px #ffc7c7;
  height: 110px;
  margin-left: 10vw;
  transition: .3s;
  visibility: visible;
  width: 110px;
  }

  .starContainer {
  visibility: visible;
  }

  h1, h3 {
    color: $white;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $red;
  }

  button {
    background: $white;
    color: $black;
  }

  .skillSection {

    li {
      p {
        background: $black;
        border: 2px solid $white;
      }
    }
  }

  .cardWrapper {
    border: 1.5px solid $white;
    border-radius: 2px;
  }

  .projectImg img {
    box-shadow: 10px 10px $white;
  }
}

.wrapper {
  margin: 0 100px;
}

h1, h3 {
  color: $black;
  font-family: $header;
  font-size: 60px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
}

a {
  color: $black;
  text-decoration: none;
}

a:hover {
  color: $red;
  text-decoration: none;
}

button {
  background: $black;
  border: 2px solid $black;
  color: $white;
  cursor: pointer;
  margin: 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 150px;
  transition: 0.3s;
}

button:hover {
  box-shadow: 5px 5px $red;
  color: $red;
  transition: 0.2s;
}

ul {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

p {
  line-height: 25px;
}

span {
  font-weight: bold;
}
