.headerContainer {
  display: flex;
  flex-direction: column;
}

.headerAnimation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hereComesTheSun {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: rgb(255, 225, 91);
  margin-left: 20vw;
  visibility: visible;
}

.darkSideOfTheMoon {
  visibility: hidden;
}

.starContainer {
  visibility: hidden;
}

.star1 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 20%;
  left: 10%;
  border-radius: 100%;
  opacity: 0.5;
  animation: glowing-stars 2s infinite alternate linear 250ms;
}
.star2 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 30%;
  left: 90%;
  border-radius: 100%;
  opacity: 0.5;
  animation: glowing-stars 2s infinite alternate linear 750ms;
}
.star3 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 10%;
  left: 80%;
  border-radius: 100%;
  opacity: 0.5;
  animation: glowing-stars 2s infinite alternate linear 900ms;
}
.star4 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 7%;
  left: 50%;
  border-radius: 100%;
  opacity: 0.5;
  animation: glowing-stars 2s infinite alternate linear 1s;
}
.star5 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 40%;
  left: 8%;
  border-radius: 100%;
  opacity: 0.5;
  animation: glowing-stars 2s infinite alternate linear 2s;
}
.star6 {
  background: white;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 4%;
  left: 28%;
  border-radius: 100%;
  opacity: 0.5;
  animation: glowing-stars 2s infinite alternate linear 500ms;
}
.star7 {
  background: white;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 35%;
  left: 38%;
  border-radius: 100%;
  opacity: 0.5;
  animation: glowing-stars 2s infinite alternate linear 660ms;
}
.star8 {
  background: white;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 30%;
  left: 48%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars 2s infinite alternate linear;
}
.star9 {
  background: white;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 30%;
  left: 21%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars 2s infinite alternate linear;
}
.star10 {
  background: white;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 7%;
  left: 93%;
  border-radius: 100%;
  opacity: 0.5;
  animation-name: glowing-stars 2s infinite alternate linear;
}

@keyframes glowing-stars {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}

.headerName {
  line-height: 10px;
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  h1{
    text-shadow: 2px 2px $red;
  }
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index : 99999;

  li:nth-child(2) {
    padding-left: 40px;
  }
}


h2 {
  font-family: $body;
  font-size: 25px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2:hover {
  text-shadow: 1px 1px $black;
}

