@media screen and (max-width: 980px) {

  .wrapper {
    margin: 15px;
  }

  h1 {
    line-height: 60px;
  }
}

@media screen and (max-width: 880px) {

  .navLinks {
    padding-top: 70px;
  }
}

@media screen and (max-width: 680px) {

  body {
    margin: 20px 10px;
    text-align: center;
  }

  .wrapper {
    margin: 0 20px;
  }

  .cloudContainer {
    overflow-x: hidden;
    width: 50%;
  }

  .hereComesTheSun {
    margin-left: 10vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    margin-top: 25px;
  }

  .navLinks {

    padding-top: 120px;
  
    li:nth-child(2) {
      padding-left: 15px;
    }
  }

  .skillIcons {
    padding: 0;
  
    li {
      padding: 10px;
    }
  }

  .aboutContainer {
    padding-top: 10px;
  }

  .aboutImg img {
    border-radius: 50%;
    width: 50vw;
  }

  .aboutText {
    padding: 0;
  }

  .cardWrapper {
    margin: 10px 0;
    padding: 10px;
  }

  .projectsContainer {
    padding-top: 20px;
  }

  .projectText {
  
    p {
      padding: 0 10px;
    }
  }

  .projectImg {
    padding: 0 15px;
    text-align: center;
  }
  
  .projectImg img {
    border: 2px solid $black;
    border-radius: 5px;
    box-shadow: 10px 10px $black;
    width: 100%;
  }

  button {
    margin: 5px;
  }

  form {
    margin-top: 35px;
  
    input, textarea {
      margin: 7px;
      width: 75%;
    }
  }

  @keyframes cloudFloat {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(600px);
        opacity: 0%;
    }
  }
}

@media screen and (max-width: 450px) {

  @keyframes cloudFloat {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(400px);
        opacity: 0%;
    }
  }
}